body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,  black , pink);
    background-repeat: no-repeat ;
    background-size: cover;
    min-height: 100vh
    
}

#todo-container {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    max-width: 400px
}

h1 {
    text-align: center;
}



