* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;        
}
.todo-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 1px;
}

input[type=text] {
    width: 200px;
    height: 50px;
    font-size: 1rem;
}

button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}
