* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-container {
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) ;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;        

}

#todo-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 2px;
}

input[type=text] {
    width: 400px;
    height: 50px;
    font-size: 1rem;
    border-radius: 10px;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top:  20px;
}

button:hover {
    background-color: pink;
}

li {
    list-style-type: none;
    border-radius: 10px;
    background-color: pink;
    width: 350px;
    height: 50px;
    margin:  20px;
    padding: 15px;

    
}

h2 {
    margin-bottom: 20px;
}


