* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,  black , pink);
    background-repeat: no-repeat ;
    background-size: cover;
    min-height: 100vh
    
}

#todo-container {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    max-width: 400px
}

h1 {
    text-align: center;
}


#todo-container {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    max-width: 400px;
    background-color: #231709;
    color: white;
    border: 2px solid pink;
}

h1 {
    text-align: center;
}

input[type=text]{
   color: #231709;
}

button {
    border-radius: 5px;
    padding: 5px;
    color: #231709;
    border: 2px solid white;
    background-color: pink;
}


input {
    border-radius: 5px;
    padding: 5px;
    color: #231709;
    border: 2px solid pink;
    
}

input::placeholder {
    color: #231709;
}

li {
    list-style-type: none;
    border-radius: 5px;
    color: #231709;
    background-color: white ;
    border: 2px solid pink;
    
}

ul {
    padding-top: 15px;
}

